body{
    background-image: url(back-ground.jpg);
 
    background-repeat: repeat;
  background-attachment: fixed;
    margin:0;

}

#clock-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
color:beige;
    font-weight: bold;
    text-align: center;
}